<ion-header>
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form class="form" (ngSubmit)="signIn()" [formGroup]="credentials">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Username" formControlName="username"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button (click)='signIn()' expand='block'>
      <ion-loading trigger="open-loading" message="Dismissing after 3 seconds..." duration="3000"></ion-loading>
      Sign in
    </ion-button>
    <br>

    <h5 (click)='signUpPage()'>Don't have account? <ion-text color='primary'>signup here</ion-text>
    </h5>
  </form>
</ion-content>
