<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form class="form" (ngSubmit)="signUp()" [formGroup]="credentials">

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input placeholder="Username" type="email" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button (click)='signUp()' expand='block'>
      Sign up
    </ion-button>
    <br>

    <h5 (click)='signInPage()'>Don't have account? <ion-text color='primary'>signin here</ion-text>
    </h5>

  </form>
</ion-content>
